* {
    margin:0;
    padding:0;
}

table {

    border-collapse:collapse;

}

caption {
    display:none;
}
a {
    text-decoration: none;
    color:black;
}

.board_list_wrap {
    padding:50px;

}

.board_lis{
    width:100%;
    border-top:2px solid green;
}

.board_list tr{
    border-bottom:1px solid #999;
}

.board_list tr:nth-child(2n){
    background-color: ghostwhite;
}
.bt{
    background-color: gold;
}
.board_list th,
.board_list td{
    padding:10px;
    font-size:14px;
}
.board_list td{
    text-align: center;
}
.board_list .tit:hover{
    color:red
}
.board_list_wrap .paging a{
    display:inline=block;
    margin-left:10px;
    padding:5px 10px

}
.board_list_wrap .paging{
    margin-top:20px;
    text-align:center;
    font-size:1px;
}

.board_list_wrap .paging a.num{
    border:1px solid green;
    font-weight:600;
    color: green;
}
.board_list_wrap .paging a.num.on{
    background:green;
    color:white;
}